@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

:root {
  /* Fonts */
  --title-font: 'Nunito', sans-serif;
  --normal-font: 'Open Sans', sans-serif;
  /* Colors */
  --background: #e7e6e1;
  --tarjet-bk: #314e52;
  --icon: #f2a154;
}

body {
  background: var(--background);
}

/* Navigation config */
.nav {
  width: 100%;
  padding: 20px;
  background: var(--tarjet-bk);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.nav__icon {
  font-family: var(--title-font);
  user-select: none;
  font-size: 28px;
  text-decoration: none;
  color: var(--icon);
  text-shadow: 0px 0px 2px #f2a154;
}

/* Principal container */
.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  height: auto;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  justify-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}

/* Addnew section */
.addnew {
  width: 100%;
  height: 500px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 50px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-item > label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-family: var(--title-font);
  color: var(--tarjet-bk);
}

.form-item input,
.form-item textarea {
  font-size: 1rem;
  font-family: var(--normal-font);
  resize: none;
  border: 1px solid var(--tarjet-bk);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  background: #ffffff75;
  padding: 5px;
}

.form-item select {
  font-size: 1rem;
  font-family: var(--normal-font);
  padding: 5px;
  width: 30%;
  text-align: center;
}

.form-item input[type='number'] {
  width: 68%;
  text-align: right;
}

.btn-submit {
  height: 40px;
  font-size: 1.2rem;
  font-family: var(--title-font);
  border: none;
  background: var(--tarjet-bk);
  color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 5px;
}

.btn-submit:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

/* List items container */

.list-container {
  width: 100%;
  height: fit-content;
  background: var(--tarjet-bk);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.cost-container {
  width: 100%;
  border: 1px solid #314e52;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cost__text {
  color: var(--icon);
  text-align: right;
}

.cost__text h3 {
  font-family: var(--normal-font);
  font-size: 18px;
  font-weight: 100;
}

.cost__text h1 > span {
  font-family: var(--title-font);
  font-size: 40px;
}

.cost__values {
  width: auto;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cost__selectdiv {
  display: block;
  width: fit-content;
  height: auto;
  font-size: 30px;
  font-family: var(--title-font);
  color: #f2a154;
  background: none;
  border: none;
  cursor: pointer;
}

.cost__selectdiv:focus {
  outline: none;
}

.cost__selectdiv option {
  font-weight: normal;
  font-size: 1rem;
  color: #314e52;
}

.card-item {
  width: 100%;
  border-radius: 5px;
  background: #e7e6e1;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card-item h1 {
  font-family: var(--title-font);
  color: var(--tarjet-bk);
  font-size: 1.5rem;
}

.card-item p {
  font-family: var(--normal-font);
  color: var(--tarjet-bk);
}

.card__value * {
  font-size: 1.4rem;
}

.items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  max-width: 60%;
}

.card__check {
  margin-right: 15px;
}

.card__check-box {
  width: 20px;
  transform: scale(1.5);
  border-radius: 10px;
}

.completed {
  background: #e7e6e180;
}
