<!DOCTYPE html>
<html lang="en">
  <%- include("../template/head.ejs") %>
  <body>
    <%- include("../template/navbar.ejs") %>

    <div class="container">

      <div class="addnew">
        
      </div>

      <div class="viewlist">

      </div>


    </div>
  </body>
</html>
