<div class="modal-container hidden" id="modal-clear-completed">
  <div class="modal-window">
    <div class="modal__text">
      <h2 class="modal__title">Are you sure to delete the completed tasks?</h2>
      <p class="modal__paragraph">This action can't be reversed.</p>
    </div>

    <div class="modal__buttons">
      <a class="btn modal__btn-yes" id="modal-btn-continue">Continue</a>
      <a class="btn modal__btn-no" id="modal-btn-cancel">Cancel</a>
    </div>
  </div>
</div>
